body{
    background-color: rgb(60, 60, 60);
    color: white;
}   
section{
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: rgb(24, 22, 22)
}
main{
    margin-left: 90px;
    margin-right: 90px;
}
a{
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    background-color:rgb(24, 22, 22);
    text-decoration: none;
}
.container{
    text-align: center;
}
@font-face {
    font-family: mine;
    src: url(Minecraft.ttf);
}
h1, h2, li{
    font-family: mine;
    font-weight: normal;
}
.imagem1{
    position: absolute;
    left: 0;  
    bottom: 0; 
}
.imagem2{
    position: absolute;
    right: 0;
}
h1{
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    background-color:rgb(24, 22, 22);
}